<br>
<div class="rss-subscribe">
    <form style="border:0px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/WDAI', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <table style="border:0 width:100%">
            <tr>
                <td style="text-align:right">
                  Enter your email address:
                </td>
                <td>
                  <input type="text" style="width:210px" name="email"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Subscribe" />
                </td>
            </tr>
          </table>
        <input type="hidden" value="github/WDAI" name="uri"/>
        <input type="hidden" name="loc" value="sv_SE"/>
        <i>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></i>
    </form>
    <!--
    mail subscriptions from a link rather than a form

    <a href="https://feedburner.google.com/fb/a/mailverify?uri=github/WDAI&amp;loc=en_US">Subscribe to Feeds av en man som heter Josefssons by Email</a>
    -->
</div>
